/* =========================
   NAVBAR
========================= */

.navbar {
    width: 100%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}


/* =========================
   TOP INFORMATION BAR
========================= */

.top-bar {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}

.top-bar-content {
    max-width: 1230px;
    height: 44px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 18px;

    color: #777777;
    font-size: 16px;
}

.top-item {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.top-item strong {
    color: #666666;
    font-weight: 700;
}

.top-icon {
    color: #00804b;
    font-size: 17px;
}

.divider {
    width: 1px;
    height: 25px;
    background: #dddddd;
}


/* =========================
   MAIN NAVIGATION
========================= */

.main-nav {
    width: 100%;
    background: white;
}

.main-nav-content {
    max-width: 1350px;
    height: 94px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* =========================
   LOGO
========================= */

.logo-container {
    display: flex;
    align-items: center;

    text-decoration: none;
}

.ptdc-logo {
    width: 285px;
    height: auto;
    display: block;
}


/* =========================
   NAVIGATION LINKS
========================= */

.nav-links {
    display: flex;
    align-items: center;

    gap: 60px;
}

.nav-links a {
    color: #111111;

    text-decoration: none;

    font-size: 17px;
    font-weight: 600;

    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #00804b;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1100px) {

    .top-bar-content {
        padding: 0 20px;
        gap: 12px;
        font-size: 13px;
    }

    .main-nav-content {
        padding: 0 20px;
    }

    .nav-links {
        gap: 30px;
    }

    .nav-links a {
        font-size: 15px;
    }

    .ptdc-logo {
        width: 240px;
    }
}